.section-estampados{
    padding-top: 132px;
    .nuestros-estampados-informacion {
        width: 70%;
        margin: auto;
        .nuestros-estampados-titulo {
          h2 {
            font-weight: 700;
            text-align: left;
            font-size: 24px;
            margin: 0;
            padding-top: 81px;
            font-family: Rubik, sans-serif;
          }
        }
        .nuestros-estampados-parrafos {
          padding: 50px 0;
          padding-bottom: 80px;
          p {
            color: #161314;
            font-family: Rubik;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          span {
            color: #161314;
            font-family: Rubik;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }
}

@media (max-width: 576px){

    .section-estampados{
        padding-top: 78px;

        .nuestros-estampados-informacion{
            width: 100%;
            padding: 0 16px;
            .nuestros-estampados-titulo{
               h2{
                font-size: 16px;
                padding-top: 49.6px;
               }
            } 
            .nuestros-estampados-parrafos{
                p{
                    font-size: 16px;
                }
                span{
                    font-size: 16px;
                    padding-bottom: 68px;
                }
            }
        }
    }
    





}