.nuestros-estampados-section-mobile {
  display: none;
}

.nuestros-estampados-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  .info-tienda-hexagonosFila1 {
    display: flex;
    width: 410px;
    justify-content: space-around;
    margin-top: -45px;
  }
  .info-tienda-hexagonosFila2 {
    margin-top: -45px;
    display: flex;
    width: 615px;
    justify-content: space-around;
  }
}


@media (max-width: 576px){

  .nuestros-estampados-section {
      display: none;
    }

    .nuestros-estampados-section-mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
  
      .info-tienda-hexagonosFila1 {
        display: flex;
        width: 325px;
        justify-content: space-around;
        margin-top: -35px;
      }
      .info-tienda-hexagonosFila2 {
        margin-top: -35px;
        display: flex;
        width: 325px;
        justify-content: space-around;
      }
      .home-titulos{
        padding-bottom: 70px;
        h2{
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
      
    }


}