.nuestros-estampados-section-mobile {
  display: none;
}

.nuestros-estampados-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .info-tienda-hexagonosFila1 {
    display: flex;
    width: 410px;
    justify-content: center;
    gap: 0.6rem;
    margin-top: -45px;
  }
  .info-tienda-hexagonosFila2 {
    margin-top: -45px;
    gap: 0.6rem;
    display: flex;
    width: 615px;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .nuestros-estampados-section {
    display: none;
  }

  .nuestros-estampados-section-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    .home-titulos {
      margin-bottom: 0;
      h2 {
        color: #161314;
        text-align: center;
        font-family: Oswald;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        /* padding-bottom: 20px; */
        padding-bottom: 0;
      }
    }

    .info-tienda-hexagonosFila1 {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 0.2rem;
    }
    .info-tienda-hexagonosFila2 {
      margin-top: -30px;
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .info-tienda-hexagonosFila3 {
      margin-top: -30px;
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 0.2rem;
    }
    .info-tienda-hexagonosFila4 {
      margin-top: -30px;
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 1rem;
    }
    .home-titulos {
      h2 {
        font-size: 32px;
        font-weight: 600;
      }
    }
  }
}
