.section-presupuesto {
  width: 62.08vw;
  margin: auto;

  h1 {
    color: #161314;
    text-align: center;
    font-family: Oswald;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 77px;
  }

  h2 {
    color: #161314;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  label {
    font-weight: 100;
  }
  textarea {
    background-color: $inputs-formulario-gris;
    width: 100%;
    resize: none;
    height: 72px;
    border-radius: 5px;
    padding: 12px 15px;
    background-color: $color-quaternary;
    outline: none;
    border: none;
  }
  textarea::placeholder {
    font-weight: 100;
    color: #161314;
  }
  textarea::focus {
    font-weight: 100;
    color: black;
    outline: none;
  }

  .form {
    height: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    .form-cont {
      gap: 8px;
      height: 136px;
      display: flex;
      justify-content: flex-start;
      /* max-height: 206px !important; */

      .contenedor-input {
        display: flex;
        width: 100%;
        position: relative;

        input {
          width: 100%;
          z-index: 4;
          height: 40px;
          border-radius: 5px;
          padding: 12px 15px;
          background-color: $color-quaternary;
          outline: none;

          &::placeholder {
            font-size: 17px;
            background-color: $color-quaternary;
          }
          &::focus {
            border: none;
            color: black;
          }
        }
      }
    }
    .form-cont2 {
      gap: 1rem;
      height: 206px !important;
    }

    .icono-exclamacion {
      /* PARA LOS FORMS */
      display: flex;
      right: 0;
      width: fit-content;
      position: absolute;
      padding-top: 12.5px;
      padding-right: 20px;
      font-size: 1.2rem;
      z-index: 5;
      margin: auto 0;
      svg {
        path {
          color: red;
        }
      }
    }
  }

  .section-tela,
  .disenio,
  .cantidad-prendas-container,
  .medios-pago,
  .metodos-envio {
    display: flex;
    flex-direction: column;
  }

  .section-tela {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 24px;

    .menu-tela {
      label {
        text-decoration: underline;
      }
      display: flex;
      flex-wrap: wrap;
      .icono-exclamacion {
        display: flex;
        justify-content: right;
        width: 100%;
        position: relative;
        top: 50px;
        padding-right: 20px;
        font-size: 1.2rem;
        svg {
          path {
            color: red;
          }
        }
      }
    }
  }
  .disenio {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    .menu-disenio {
      display: flex;
      flex-direction: column;

      .opciones-menu {
        .icono-exclamacion {
          /* para la seccion de diseño */
          display: flex;
          justify-content: right;
          width: 100%;
          margin: auto 0;
          padding-right: 20px;
          font-size: 1.2rem;
          svg {
            path {
              color: red;
            }
          }
        }
      }

      .disenio-propio {
        .icono-exclamacion {
          display: flex;
          justify-content: right;
          width: 100%;
          position: relative;
          top: 50px;
          padding-right: 20px;
          font-size: 1.2rem;
          svg {
            path {
              color: red;
            }
          }
        }
      }
    }
  }

  .cantidad-prendas-container {
    h2 {
      padding-bottom: 8px;
    }
    .cantidad-prendas {
      .icono-exclamacion {
        display: flex;
        justify-content: right;
        width: 100%;
        position: relative;
        top: 50px;
        padding-right: 20px;
        font-size: 1.2rem;
        svg {
          path {
            color: red;
          }
        }
      }
    }
  }
  .medios-pago {
    padding: 40px 0;
  }
  .metodos-envio {
    padding-bottom: 48px;
  }
  .opciones-menu {
    display: flex;

    .circulos-menu {
      padding: 10px 0px;
      min-width: 14.44vw;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &:nth-child(1) {
        padding-left: 0;
      }
      label {
        padding-left: 8px;
        color: #161314;
        font-family: Rubik;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        
      }
      input {
        accent-color: $color-primary;
        width: 24px;
        height: 24px;
      }
    }
  }

  .boton-enviar {
    display: flex;
    justify-content: right;
    padding-bottom: 40px;
    button {
      width: 19.58vw;
      height: 64px;
      @extend .botonEnviar;
    }
  }

  .campos-obligatorios {
    .icono-exclamacion {
      display: flex;
      align-items: center;
      width: 100%;

      font-size: 1.2rem;
      svg {
        path {
          color: red;
        }
      }
      p {
        margin: 0;
        font-weight: normal;
        padding-left: 10px;
        color: red;
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .section-presupuesto {
    width: 100%;
    padding: 0 20px;

    h2 {
      font-size: 1.5rem;
    }
    .form {
      .form-cont {
        .contenedor-input {
          input {
            font-weight: 100;
            font-size: 1.5rem;
          }
          input::placeholder {
            font-size: 1.25rem;
          }
        }
      }
      .icono-exclamacion {
        /* PARA LOS FORMS */
        display: flex;
        right: 0;
        width: fit-content;
        position: absolute;
        padding-top: 20px;
        padding-right: 20px;
        font-size: 1.2rem;
        z-index: 5;
        margin: auto 0;
        svg {
          path {
            color: red;
          }
        }
      }
    }

    .opciones-menu {
      display: grid;
      grid-template-columns: 50% 50%;
    }

    .disenio {
      .menu-disenio {
        .opciones-menu {
          .icono-exclamacion {
            /* para la seccion de diseño */
            display: flex;
            justify-content: right;
            width: 100%;
            position: relative;
            top: -30px;
            padding-right: 20px;
            font-size: 1.2rem;
            grid-column: 2;
            svg {
              path {
                color: red;
              }
            }
          }
        }
      }
    }

    .menu-metodos-envio {
      display: flex;
      flex-direction: column;
    }
    .boton-enviar {
      display: flex;
      justify-content: center;
      padding: 30px 0;

      button {
        width: 100%;
        font-weight: 600;
      }
    }
  }
}
