.form {
  height: min-content;
  width: 100%;
  &-info {
    text-align: center;
    h1 {
      font-size: 2.5rem;
    }
  }
  &-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 1rem;
    input,
    textarea {
      width: 100%;
      border-radius: 1rem;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      border: 2px solid $color-quaternary;
      background-color: $color-quaternary;
    }
    input::placeholder,
    textarea::placeholder {
      color: rgb(56, 56, 56);
      font-size: 1.2rem;
    }
    input:focus,
    textarea:focus {
      outline: 4px solid $color-primary;
      font-weight: normal;
    }

    textarea {
      height: 20vh;
      resize: none;
    }
    button {
      padding: 0.5rem 2.5rem;
      font-size: 1.5rem;
      background: $color-secundary;
      color: $color-primary;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .form {
    &-info {
      h1 {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
    &-cont {
      input,
      textarea {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
      }
      input::placeholder,
      textarea::placeholder {
        font-size: 0.8rem;
      }
      button {
        width: 100%;
        padding: 0.5rem 2.5rem;
        font-size: 1rem;
      }
    }
  }
}
