.estampados {
  width: $medidaHexagonoDesktopWidth - 70px;
  height: $medidaHexagonoDesktopHeight - 70px;
  position: relative;

  .hexagono-con-imagen {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: auto;

    h2 {
      color: black;
      font-weight: 600;
      z-index: 100;
      font-size: 25px;
      margin: 0;
    }
  }
  .hexagono-con-imagen::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 90;
    background-color: rgba(255, 255, 255, 0.4);
  }
  .hexagono-sin-imagen {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: $botones-amarillo-dorado;

    h2 {
      color: black;
      font-weight: 600;
      z-index: 100;
      font-size: 30px;
      margin: 0;
    }
  }
}

@media (max-width: 576px) {
  .estampados {
    width: $medidaHexagonoDesktopWidth - 150px;
    height: $medidaHexagonoDesktopHeight - 150px;
    .hexagone {
      z-index: 100;
      h2 {
        color: black;
        font-weight: 600;
        z-index: 100;
        font-size: 1.5rem;
      }
    }

    .hexagone::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 90;
      background-color: rgba(255, 255, 255, 0.7);
    }
    .hexagono-con-imagen {
      h2 {
        font-size: 1rem;
      }
    }
  }
}
