@import "../utilidades/colors.scss";
@import "../utilidades/typography.scss";

// MIXIN //

@mixin propiedades-botones-productos-personalizados(
  $color-fondo,
  $padding,
  $font-size,
  $font-family
) {
  background-color: $color-fondo;
  padding: $padding;
  font-size: $font-size;
  font-family: $font-family;
}

.flex-spaceBetween {
  display: flex;
  justify-content: space-between;
}

.botonEnviar {
  padding: 10px 15px;
  background-color: $negro;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: $font-family-rubik;
  font-size: 15px;
  letter-spacing: 2px;
  color: $botones-amarillo-dorado;
  font-weight: 600;
}
