.slider-container{
    margin: 0 auto;
    overflow-x: hidden;
    padding: 50px 0;

    .slider{
        display: flex;
        cursor: grab;
    
        .item{
            height: fit-content;
            width: fit-content;
            
            img{
                height: 300px;
                width: auto;
                /* max-width: 380px; */
                pointer-events: none;
                padding: 0 10px;
            }
        }
    }
    
}



