.slider-container{
    margin: 0 auto;
    overflow-x: hidden;
    

    .slider{
        display: flex;
        cursor: grab;
        height: fit-content;
        .item{
            height: auto;
            height: fit-content;
            img{
                
                height: 22.777vw;
                pointer-events: none;
                margin-left: 0.694vw;
            }
        }
    }
    
}



