* .hex {
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  &-cont {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-img {
    width: 100%;
    height: 100%;
  }
  &-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
