.header {
  background-color: $color-quaternary;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 5rem;
  font-size: 1.2rem;
  &-logo {
    img {
      width: 50px;
      height: 50px;
    }
  }
  &-options {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 0rem;
    li {
      a {
        color: $color-secundary;
        text-decoration: none;
      }
    }
  }
}
@media (max-width: 768px) {
  .header {
    display: none;
  }
}
