.header-movil {
  display: none;
  &-nav {
    padding: 0.6rem 0px;
    background-color: $color-quaternary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 40px;
      height: 40px;
    }
    .iconWhatsapp {
      padding-right: 1rem;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
  &-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    padding-left: 0px;
    img {
      width: 50px;
      height: 50px;
    }
  }
  &-options {
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-bottom: 0px;
    padding-left: 0px;
    a {
      font-size: 1.5rem;
      color: $color-secundary;
      text-decoration: none;
    }
  }
}
@media (max-width: 768px) {
  .header-movil {
    display: unset;
  }
}
