@import "../utils/typography.scss";
$negro: #000;
$botones-amarillo-dorado: #efb322;

// MIXIN //

.flex-spaceBetween {
  display: flex;
  justify-content: space-between;
}

.botonEnviar {
  width: 19.5839vw;
  height: 60px;
  background-color: $negro;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: $font-family-rubik;
  font-size: 16px;
  letter-spacing: 0px;
  color: $botones-amarillo-dorado;
  font-weight: 500;
  @media (max-width: 576px) {
    width: 100%;
  }
}
