@import "../utils/typography.scss";
$negro: #000;
$botones-amarillo-dorado: #efb322;

// MIXIN //

@mixin propiedades-botones-productos-personalizados(
  $color-fondo,
  $padding,
  $font-size,
  $font-family
) {
  background-color: $color-fondo;
  padding: $padding;
  font-size: $font-size;
  font-family: $font-family;
}

// EXTEND //

.flex-spaceBetween {
  display: flex;
  justify-content: space-between;
}

.botonEnviar {
  padding: 15px 30px;
  background-color: $negro;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: $font-family-rubik;
  font-size: 15px;
  letter-spacing: 0px;
  color: $botones-amarillo-dorado;
  font-weight: 600;
}


