*.h1,
*.h2,
*.h3,
*.h4,
* .h5,
*.h6,
* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: unset;
  line-height: unset;
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: unset;
  line-height: unset;
  color: var(--bs-heading-color);
}

.h2,
h2 {
  font-size: calc(1.325rem + 0.9vw);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: unset;
  line-height: unset;
  color: var(--bs-heading-color);
}

*.h1,
*.h2,
*.h3,
*.h4,
* .h5,
*.h6,
* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: unset;
  line-height: unset;
  //   color: var(--bs-heading-color);
}

body {
  margin: 0;
  font-family: $font-family-rubik;
  font-size: unset;
  font-weight: unset;
  line-height: unset;
  color: #000;
  text-align: unset;
  background-color: unset;
  -webkit-text-size-adjust: unset;
  -webkit-tap-highlight-color: transparent;
}

* p {
  margin-top: 0;
  margin-bottom: 0;
}
