footer {
  background-color: $color-quaternary;
}
.footer-container-mobile {
  display: none;
}
.footer-container {
  display: flex;
  width: 85%;
  margin: 0 auto;
  height: 100%;
  padding: 64px 0px;
  gap: 90px;
  h2 {
    font-size: 15px;
    font-weight: 600;
  }
  a,
  p {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $negro;
    margin: 0;
    font-weight: normal;
    padding: 5px 0;
    font-size: 12px;
    word-spacing: 2px;
    cursor: pointer;
    width: fit-content;
  }
  .footer-logo-container {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    img {
      width: 160px;
      @media (max-width: 1000px) {
        width: 100px;
      }
    }
  }
  .footer-menu-division {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .footer-menu-container {
    display: flex;
    gap: 90px;
    @media (max-width: 1000px) {
      gap: 30px;
    }
    .footer-card {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }
    .footer-menu-nosotros {
      .footer-menu-redes {
        padding: 20px 0;
        img {
          width: 28px;
          cursor: pointer;

          &:nth-child(2) {
            margin-left: 5px;
          }
        }
      }
    }
  }
  .footer-direccion {
    margin: auto 0;

    p {
      padding-top: 12px;
      cursor: auto;
    }
  }
}
@media (max-width: 1000px) {
  .footer-container {
    padding: 64px 0px;
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .footer-container {
    display: none;
  }

  .footer-container-mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $color-quaternary;
    width: 100%;
    text-align: center;
    padding: 30px 50px 15px;

    .footer-logo-container {
      margin: auto;
      padding-bottom: 20px;
      img {
        width: 70px;
      }
    }

    .footer-menu-container {
      h2 {
        font-size: 15px;
        font-weight: 600;
        margin: 0;
        padding: 5px 0;
      }
      p {
        margin: 0;
        font-weight: normal;
        padding: 5px 0;
        font-size: 12px;
        word-spacing: 2px;
        cursor: pointer;
        width: 100%;
      }

      .footer-menu-redes {
        display: flex;
        justify-content: space-around;
        width: 60px;
        margin: auto;
        padding: 10px 0;

        img {
          width: 25px;
        }
      }
    }
  }
}
