.ayuda-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 160px auto;
  height: max-content;
  gap: 104px;

  .info-tienda-hexagonosFila1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    .ayuda-hex {
      width: $medidaHexagonoDesktopWidth - 40px;
      height: $medidaHexagonoDesktopHeight - 40px;
      .hex-text {
        padding: 0 12px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 576px) {
  .ayuda-container {
    margin: 136px auto 177px;
    gap: 50px;
    .info-tienda-hexagonosFila1 {
      display: flex;
      flex-wrap: wrap;
      width: 325px;
      gap: 0.5rem;
      .ayuda-hex {
        width: 140px;
        height: 163px;
        text-align: center;
      }
      .hex-cont-active {
        transform: translateY(-2.5rem);
      }
    }
  }
}
