.ayuda-container {
  width: 100%;
  height: 70vh;

  .titulo-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    h1 {
      font-size: 3rem;
      color: black;
    }
  }

  .info-tienda-hexagonosFila1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 46vw;
    height: fit-content;
    padding-top: 100px;
    margin: auto;
  }

  .hexagon {
    $hexagon-width: 15vw; /* 496px en figma */
    $hexagon-height: 8vw; /* 460px en figma */
    display: flex;
    justify-content: center;
    align-items: center;
    width: $hexagon-width;
    height: $hexagon-height;
    background-color: #3498db;
    position: relative;
    border: 1px solid #3498db;

    &:before,
    &:after {
      content: "";
      width: 0;
      border-left: $hexagon-width / 2 solid transparent;
      border-right: $hexagon-width / 2 solid transparent;
      position: absolute;
    }

    &:before {
      top: -($hexagon-height / 2);
      border-bottom: $hexagon-height / 2 solid #3498db;
    }

    &:after {
      bottom: -($hexagon-height / 2);
      border-top: $hexagon-height / 2 solid #3498db;
    }

    p {
      margin: 0;
      font-size: 1.2rem;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}

@media (max-width: 576px) {
  .ayuda-container {
    .info-tienda-hexagonosFila1 {
      display: flex;
      flex-wrap: wrap;
      width: 85vw;
      margin: auto;
    }
    .hexagon {
      $hexagon-width: 40vw; /* 496px en figma */
      $hexagon-height: 20vw; /* 460px en figma */
      display: flex;
      justify-content: center;
      align-items: center;
      width: $hexagon-width;
      height: $hexagon-height;
      background-color: #3498db;
      position: relative;
      border: 1px solid #3498db;
      margin: 0px;

      &:before,
      &:after {
        content: "";
        width: 0;
        border-left: $hexagon-width / 2 solid transparent;
        border-right: $hexagon-width / 2 solid transparent;
        position: absolute;
      }

      &:before {
        top: -($hexagon-height / 2);
        border-bottom: $hexagon-height / 2 solid #3498db;
      }

      &:after {
        bottom: -($hexagon-height / 2);
        border-top: $hexagon-height / 2 solid #3498db;
      }

      p {
        margin: 0;
        font-size: 1.2rem;
      }
    }
    .hexagon-comprar {
      margin-top: 50px;
    }
  }
}
