.secciones-productos-container {
  padding: 0 150px;
  .secciones-productos-titulo {
    text-align: center;
    h1 {
      padding-top: 50px;
      margin: 0;
    }
  }
  .secciones-productos-imagenes {
    display: flex;
    justify-content: center;
    padding: 50px 0;

    .secciones-productos-imagen {
      padding: 0 20px;
      img {
        width: auto;
        height: 300px;
      }
    }
  }

  .secciones-productos-informacion {
    display: grid;
    grid-template-columns: 70% 30%;

    .secciones-informacion-descripcion {
      grid-column: 1;
      width: 90%;
      margin: auto;

      p {
        font-weight: normal;
      }
      span{
        font-weight: normal;
        
        a{
          color: black;
        }
      }
    }
    .secciones-informacion-boton {
      grid-column: 2;

      button {
        @extend .botonEnviar;
      }
    }
  }
}
