.guia-talles-imagen-adulto-mobile {
  display: none;
}

.guia-talles-contenedor {
  padding: 80px 0;
  padding-bottom: 0;
  .guia-talles-titulo {
    h2 {
      color: #161314;
      text-align: center;
      font-family: Oswald;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  .guia-talles-imagen {
    width: 62.083vw;
    margin: auto;
    text-align: center;
    padding: 72px 0;
    padding-bottom: 80px;
    img {
      height: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .guia-talles-imagen {
    display: none;
  }

  .guia-talles-contenedor {
    padding: 0;

    .guia-talles-titulo {
      h2 {
        padding: 0;
        margin: 0;
        font-size: 32px;
      }
    }
    .guia-talles-imagen-adulto-mobile {
      display: block;
      padding: 48px 10.43vw;
      text-align: center;
      img {
        height: 100%;
      }
    }
  }
}
