.home-titulo-mobile,
.hero-img-container-mobile,
.hero-carusel-container-mobile,
.formulario-boton-container-mobile,
.mobile-nuestros-estampados-section {
  display: none;
}

.hero-section {
  padding: 112px 0 136px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  .hero-img-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0; /* Para centrar el contenedor horizontalmente */

    .hero-titulo {
      h1 {
        font-weight: 800;
        letter-spacing: 0.2rem;
        font-size: 96px;
        text-align: center;
        line-height: normal;
      }
    }

    .hero-lema {
      text-align: center;
      p {
        margin: 0;
        padding: 48px 0 112px;
        text-transform: uppercase;
        font-size: 24px;
      }
    }

    .hero-boton-contacto {
      margin: 0 auto;

      button {
        width: 282px;
        height: 60px;
        background-color: #000;
        color: #efb322;
        font-size: 20px;
        border: none;
        border-radius: 5px;
      }
    }
  }
}

.home-nuestros-estampados-section {
  padding-bottom: 97px;
}

.personalizar-productos-section {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-bottom: 144px;
  .personalizar-productos-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: max-content;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    gap: 24px;

    .personalizar-productos-container-img {
      display: flex;
      a {
        border-radius: 5px;
        height: 228px;
        width: 100%;
        text-decoration: none;
        color: black;
        position: relative;
        background-position: center;
        background-repeat: none;
        background-size: cover;
        overflow: hidden;
        button {
          width: 100%;
          bottom: 0;
          position: absolute;
          border: none;
          font-weight: 700;
          background-color: $botones-amarillo-dorado;
          padding: 14px 0;
          font-size: 24px;
          font-family: $font-family-project;
        }
      }
      .personalizar-productos-vacio {
        grid-row: 1;
      }
      .indumentaria-escolar-card {
        background-image: url("./assets/img/indumentaria-escolar-card.png");
      }
      .indumentaria-deportiva-card {
        background-image: url("./assets/img/indumentaria-deportiva-card.png");
      }
      .indumentaria-laboral-card {
        background-image: url("./assets/img/indumentaria-laboral.png");
      }
      .objetos-personalizados-card {
        background-image: url("./assets/img/objetos-personalizados.png");
      }
    }
  }
}
.formulario-section {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 144px;
  .form-info {
    margin-bottom: 64px;
  }
}

.home-titulos {
  text-align: center;
}

@media (max-width: 576px) {
  .section-home {
    .hero-section {
      padding: 62px 0 48px;
      width: 95%;
      .hero-img-container {
        width: 100%;
        height: max-content;
        .hero-titulo {
          h1 {
            font-size: 40px;
            line-height: 3rem;
          }
        }
        .hero-lema {
          text-align: center;

          p {
            margin: 0;
            padding: 50px 10px;
            text-transform: uppercase;
            font-size: 1.1rem;
          }
        }
        .hero-boton-contacto {
          width: 100%;
          text-align: center;
          button {
            width: 95%;
            height: 48px;
            font-size: 14px;
          }
        }
      }
    }
    .home-nuestros-estampados-section {
      padding-bottom: 48px;
      .home-titulos {
        padding-bottom: 48px;
      }
    }
    .personalizar-productos-section {
      padding-bottom: 48px;
      .personalizar-productos-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        .personalizar-productos-container-img {
          display: flex;
          flex-direction: column;
          width: 95%;
          height: max-content;
          a {
            height: 180px;
            button {
              height: 56px;
              font-size: 16px;
            }
          }
        }
      }
    }

    .formulario-section {
      width: 95%;
      margin: 0 auto;
      padding-bottom: 48px;
      .form-info {
        margin-bottom: 48px;
      }
    }
  }
}
