.home-titulo-mobile,
.hero-img-container-mobile,
.hero-carusel-container-mobile,
.formulario-boton-container-mobile,
.nuestros-estampados-section-mobile {
  display: none;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .hero-img-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 100px); /* Resta 50px a cada lado */
    padding: 0 50px;
    padding-top: 120px;
    margin: 0; /* Para centrar el contenedor horizontalmente */

    .hero-boton-contacto {
      padding-bottom: 100px;
      margin: auto;

      button {
        padding: 20px 80px;
        background-color: black;
        color: $botones-amarillo-dorado;
        font-size: 1.2rem;
        font-family: $font-family-rubik;
        border: none;
      }
    }

    .hero-titulo {
      text-align: center;

      h1 {
        font-size: 5rem;
        text-align: center;
      }
    }
  }

  .logo-whatsapp-container {
    position: relative;
    top: -100px;
    /* left: 30%; */
    font-size: 50px;
    text-align: right;
    display: flex;
    justify-content: right;
    width: 100%;
    padding-right: 100px;

    .icono-whatsapp {
      cursor: pointer;
    }
  }
}

.nuestros-estampados-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 100px;

  .hexagon {
    $hexagon-width: 15vw;
    $hexagon-height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $hexagon-width;
    height: $hexagon-height;
    background-color: #3498db;
    position: relative;
    border: 1px solid #3498db;

    p {
      font-size: 1.5rem;
      margin: 0;
    }

    &:before,
    &:after {
      content: "";
      width: 0;
      border-left: $hexagon-width / 2 solid transparent;
      border-right: $hexagon-width / 2 solid transparent;
      position: absolute;
    }

    &:before {
      top: -($hexagon-height / 2);
      border-bottom: $hexagon-height / 2 solid #3498db;
      background-position: center;
      background-size: cover;
    }

    &:after {
      bottom: -($hexagon-height / 2);
      border-top: $hexagon-height / 2 solid #3498db;
    }
  }
  .info-tienda-hexagonosFila1 {
    display: flex;
    width: 32vw;
    justify-content: space-around;
    margin-top: -3.5vw;
  }
  .info-tienda-hexagonosFila2 {
    margin-top: -3.5vw;
    display: flex;
    width: 48vw;
    justify-content: space-around;
  }
}

/* .estampados{
  width: 200px;
  height: 200px;
  position: relative;
  .hexagono{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: blue;
    width: 100%;
    height: 100%;
  }
} */

.personalizar-productos-section {
  .personalizar-productos-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    padding: 50px 0;
    width: 100%;
    height: fit-content;
    width: 82%;
    margin: auto;

    .personalizar-productos-container-img {
      border: 1px solid black;
      margin: 10px auto;

      display: grid;
      grid-template-rows: 78% 22%;
      width: 38.89vw;
      height: 36.9vh;
      border: none;

      button {
        grid-row: 2;
        text-align: left;
        border: none;
        /* padding: 10px;
        background-color: #efb322; */
        font-weight: 600;
        @include propiedades-botones-productos-personalizados(
          $botones-amarillo-dorado,
          0.83% 2.2%,
          $font-size-botones-productos-personalizados,
          $font-family-project
        );
      }

      .personalizar-productos-vacio {
        grid-row: 1;
      }
      .indumentaria-escolar-card {
        background-image: url("./assets/img/indumentaria-escolar-card.png");
        background-position: center;
        background-repeat: none;
        background-size: cover;
        height: 100%;
        width: 100%;
      }
      .indumentaria-deportiva-card {
        background-image: url("./assets/img/indumentaria-deportiva-card.png");
        background-position: center;
        background-repeat: none;
        background-size: cover;
        height: 100%;
        width: 100%;
      }
      .indumentaria-laboral-card {
        background-image: url("./assets/img/indumentaria-laboral.png");
        background-position: center;
        background-repeat: none;
        background-size: cover;
        height: 100%;
        width: 100%;
      }
      .objetos-personalizados-card {
        background-image: url("./assets/img/objetos-personalizados.png");
        background-position: center;
        background-repeat: none;
        background-size: cover;
        height: 100%;
        width: 100%;
      }
    }
    .indumentaria-escolar {
      grid-column: 1;
      grid-row: 1;
    }
    .indumentaria-deportiva {
      grid-column: 2;
      grid-row: 1;
    }
    .indumentaria-laboral {
      grid-column: 1;

      grid-row: 2;
    }
    .objetos-personalizados {
      grid-column: 2;
      grid-row: 2;
    }
  }
}
.formulario-section {
  padding-bottom: 100px;
}

.home-titulos {
  h2 {
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 20px 0;
  }
}

/* .redes-section {
  padding: 50px 0;
  text-transform: uppercase;
  margin-bottom: 6.6vw;
  .iconos-redes-container {
    display: flex;
    justify-content: space-evenly;
    width: 15.62rem;
    margin: auto;
    padding-top: 40px;

    img {
      width: 6.7vw ;
      height: 6.7vw ;
    }
  }
} */

/* .info-tienda-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding-bottom: 100px;

  .info-tienda-hexagonosFila1 {
    display: flex;
    width: 31vw;
    justify-content: space-around;
  }
  .info-tienda-hexagonosFila2 {
    margin-top: 4.5vw;
  }

  .hexagon {
    $hexagon-width: 15vw; 
    $hexagon-height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $hexagon-width;
    height: $hexagon-height;
    background-color: #3498db;
    position: relative;
    border: 1px solid #3498db;

    &:before,
    &:after {
      content: "";
      width: 0;
      border-left: $hexagon-width / 2 solid transparent;
      border-right: $hexagon-width / 2 solid transparent;
      position: absolute;
    }

    &:before {
      top: -($hexagon-height / 2);
      border-bottom: $hexagon-height / 2 solid #3498db;
    }

    &:after {
      bottom: -($hexagon-height / 2);
      border-top: $hexagon-height / 2 solid #3498db;
    }
  }
} */

@media (max-width: 576px) {
  .nuestros-estampados-section {
    display: none;
  }

  .hero-section {
    .hero-img-container {
      width: 100%;
      padding: 60px 0 0;
      height: 70vh;
      .hero-titulo {
        text-align: center;

        h1 {
          font-size: 2.5rem;
          text-align: center;
          width: 90%;
          margin: auto;
        }
      }
      .hero-boton-contacto {
        padding-bottom: 0;
        width: 90%;

        button {
          padding: 10px 60px;
          font-size: 0.8rem;
          width: 100%;
        }
      }
    }
  }

  /* .hero-mobile {
    display: block;

    .hero-carusel-container-mobile {
      display: block;
      margin: auto;
      text-align: center;
      padding: 0 16px;
      img {
        height: 300px;
        text-align: center;
        width: 100%;
      }
    }
  } */

  .nuestros-estampados-section-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0 100px;

    .hexagon {
      $hexagon-width: 30vw; /* 496px en figma */
      $hexagon-height: 16vw; /* 460px en figma */
      display: flex;
      justify-content: center;
      align-items: center;
      width: $hexagon-width;
      height: $hexagon-height;
      background-color: #3498db;
      position: relative;
      border: 1px solid #3498db;

      p {
        font-size: 1rem;
        margin: auto;
      }

      &:before,
      &:after {
        content: "";
        width: 0;
        border-left: $hexagon-width / 2 solid transparent;
        border-right: $hexagon-width / 2 solid transparent;
        position: absolute;
      }

      &:before {
        top: -($hexagon-height / 2);
        border-bottom: $hexagon-height / 2 solid #3498db;
      }

      &:after {
        bottom: -($hexagon-height / 2);
        border-top: $hexagon-height / 2 solid #3498db;
      }
    }
    .info-tienda-hexagonosFila1 {
      display: flex;
      width: 72vw;
      justify-content: space-around;
      margin-top: -7.5vw;
      /* padding-top: 100px; */
    }
    .info-tienda-hexagonosFila2 {
      margin-top: -7.5vw;
      display: flex;
      width: 72vw;
      justify-content: space-around;
    }
    .home-titulos{
      padding-bottom: 100px;
      h2{
        font-size: 2rem;
        font-weight: 600;
      }
    }
  }

  .personalizar-productos-section {
    .personalizar-productos-container {
      display: flex;
      flex-direction: column;
      padding: 30px 0;
      /* padding: 10px;
      padding: 0 16px; */

      .personalizar-productos-container-img {
        width: 100%;

        button {
          text-align: center;
          font-size: 0.8rem;
        }
      }
    }
  }

  .home-titulos {
    h2 {
      color: black;
      font-size: 25px;
      text-align: center;
      padding: 20px 0;
    }
  }
  .productos-personalizados-titulo {
    display: flex;
    justify-content: center;
    h2 {
      color: black;
      font-size: 25px;
      text-align: center;
      padding: 20px 0;
      width: 50%;
    }
  }

  .redes-section {
    .iconos-redes-container {
      img {
        width: 15vw /* 129px en figma */;
        height: 15vw /* 129px en figma */;
      }
    }
  }

  .info-tienda-container {
    .hexagon {
      $hexagon-width: 30vw; /* 496px en figma */
      $hexagon-height: 16vw; /* 460px en figma */
      display: flex;
      justify-content: center;
      align-items: center;
      width: $hexagon-width;
      height: $hexagon-height;
      background-color: #3498db;
      position: relative;
      border: 1px solid #3498db;

      p {
        font-size: 1rem;
        margin: 0;
      }

      &:before,
      &:after {
        content: "";
        width: 0;
        border-left: $hexagon-width / 2 solid transparent;
        border-right: $hexagon-width / 2 solid transparent;
        position: absolute;
      }

      &:before {
        top: -($hexagon-height / 2);
        border-bottom: $hexagon-height / 2 solid #3498db;
      }

      &:after {
        bottom: -($hexagon-height / 2);
        border-top: $hexagon-height / 2 solid #3498db;
      }
    }
    .info-tienda-hexagonosFila1 {
      display: flex;
      width: 61vw;
      justify-content: space-around;
      margin-top: 8.5vw;
    }
    .info-tienda-hexagonosFila2 {
      margin-top: 8.5vw;
      display: flex;
      width: 61vw;
      justify-content: space-around;
    }
  }
}
