.options {
  padding: 0.5rem 0px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-logo {
    img {
      width: 300px;
      height: 300px;
    }
  }
  &-welcome {
    margin: 1rem 0px;
    h2 {
      font-size: 2.4rem;
    }
  }
  &-option {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    .options-info {
      width: 450px;
      height: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid #000;
      a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #000;
        img {
          height: 85%;
          width: 100%;
          object-fit: cover;
        }
        h3 {
          padding-right: 1rem;
          height: 15%;
          width: 100%;
          font-size: 1.3rem;
          border-top: 2px solid #000;
          background-color: $color-primary;
          margin-top: 0;
          margin-bottom: 0rem;
          font-weight: 500;
          line-height: unset;
        }
      }
    }
  }
}
.info {
  width: 75%;
  margin: 1.5rem auto;
  &-welcome {
    display: none;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .options {
    &-logo {
      img {
        width: 150px;
        height: 150px;
      }
    }
    &-welcome {
      display: none;
      h2 {
        font-size: 2rem;
      }
    }
    &-option {
      width: 95%;
      .options-info {
        width: 100%;
        height: 200px;
        a {
          img {
            height: 85%;
            width: 100%;
          }
          h3 {
            height: 15%;
            width: 100%;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .info {
    width: 95%;
    &-welcome {
      display: unset;
    }
    .cont-text-titulo {
      font-size: 1.25rem;
    }
  }
}
