.options,
.info,
.section-hex {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}

.options {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-logo {
    margin: 104px 0 0;
    img {
      width: 279px;
      height: 250px;
    }
  }
  &-welcome {
    margin: 48px 0px;
    h2 {
      font-size: 2rem;
      font-weight: 900;
    }
  }
}
.cont-text {
  padding: 0;
  &-titulo {
    color: #161314;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 40px;
  }
  &-parrafo {
    color: #161314;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
  }
}

.info {
  width: 70%;
  margin: 0 auto;
  &-welcome {
    display: none;
    text-align: center;
  }
}
.nosotros-cont-hex {
  padding: 100px 0px;
  .section-hex {
    .nuestros-estampados-section-mobile {
      padding: 0;
    }
  }
}

@media (max-width: 768px) {
  .info {
    display: block;
  }
  .options {
    &-logo {
      margin: 70px 0 0;
      img {
        width: 244px;
        height: 224px;
      }
    }
    &-welcome {
      display: none;
    }
  }
  /* .nuestros-estampados-section-mobile {
    .home-titulos {
      margin-bottom: 24px;
    }
  } */
  .info {
    width: 95%;
    &-welcome {
      display: block;
      padding: 48px 0;
    }
  }
  // .nosotros-cont-hex {
  //   /* .home-titulos {
  //     margin-bottom: 48px;
  //   } */
  // }
  .cont-text {
    &-titulo,
    &-parrafo {
      font-size: 1rem;
      margin-bottom: 28px;
    }
  }
}
