.options,
.info,
.section-hex {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}
/* .info{
  display: none;
} */

.options {
  padding: 0.5rem 0px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-logo {
    img {
      width: 300px;
      height: 300px;
    }
  }
  &-welcome {
    margin: 1rem 0px;
    h2 {
      font-size: 2rem;
      margin-bottom: 0.75rem;
      font-weight: 900;
      
    }
  }
}
.info {
  width: 75%;
  margin: 1.5rem auto;
  &-welcome {
    display: none;
    text-align: center;
  }
}
.section-hex {
  .nuestros-estampados-section-mobile {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .info{
    display: block;
  }
  .options {
    &-logo {
      img {
        width: 150px;
        height: 150px;
      }
    }
    &-welcome {
      display: none;
      h2 {
        font-size: 1.8rem;
        font-weight: 600;
      }
    }
  }
  .info {
    width: 95%;
    &-welcome {
      display: unset;
      margin-bottom: 1rem;
    }
    .cont-text-titulo {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0.75rem;
    }
  }
}

@media (max-width: 576px){

  .options{
    padding: 50px 0px;
    padding-bottom: 0;
  }
  .info{
    padding: 0;
    h2{
      padding-bottom: 30px;
    }
    h3{
      line-height: 1.3rem;
    }
  }
  

}

