.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  &-info {
    text-align: center;
    width: 75%;
    margin-bottom: 2rem;
    h1 {
      font-size: 2rem;
      font-weight: 600;
    }
  }
  &-cont {
    height: max-content;
    width: 100%;
    overflow-x: scroll;
    display: flex;
    &::-webkit-scrollbar {
      width: 0px; /* Tamaño del scroll en vertical */
      height: 0px; /* Tamaño del scroll en horizontal */
      display: none; /* Ocultar scroll */
    }
  }
  &-hexos {
    display: flex;
    width: max-content;
    height: 100%;
    margin: 0px auto;
    gap: 1rem;
    .heximg {
      width: 280px;
      height: 310px;
    }
    .heximg-cont {
      width: 280px;
      height: 310px;
    }
  }
}

@media (max-width: 1024) {
  .product {
    &-hexos {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .product {
    height: 80vh;
    &-cont {
      width: 90%;
    }
    &-hexos {
      .heximg {
        width: 200px;
        height: 233px;
      }
      .heximg-cont {
        width: 200px;
        height: 233px;
      }
      .heximg-text {
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}
