.ayuda-section-container {
  margin: 0px auto;
  padding-bottom: 2rem;

  .titulo-container {
    padding: 104px 0px 128px;
    text-align: center;

    h1 {
      color: black;
      font-size: 2.5rem;
    }
  }

  .contenido-texto-container {
    margin: 0px auto;
    width: 75%;
    padding: 0;
    li {
      list-style: none;
    }
    .cont-text {
      padding: 0;
      &-ul {
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 40px;
        span {
          font-size: 24px;
          font-weight: 200;
        }
        &-li {
          list-style: disc;
          font-size: 24px;
          font-weight: 200;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .ayuda-section-container {
    .titulo-container {
      padding: 70px 0px 50px;
      h1 {
        font-size: 28px;
      }
    }
    .contenido-texto-container {
      width: 90%;
    }
  }
  .consultas-adicionales-texto {
    h2 {
      font-size: 1rem;
    }
  }
}
