$color-primary: #efb322;
$color-secundary: #040404;
$color-tertiary: #f8f8f8;
$color-quaternary: #cecdbb;
@font-face {
  font-family: "Oswald";
  src: url("../src/assets/font/Oswald-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@import "~bootstrap/scss/bootstrap";

* {
  font-family: Oswald, sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: $color-secundary;
}
body {
  background-color: $color-tertiary;
  font-size: 1.2rem;
}
* .figure {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transform: rotate(90deg);
  &-cont {
    z-index: -1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-img {
    width: 100%;
    height: 100%;
  }
  &-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
  }
}

@import "./components/page/Body";
@import "./components/page/Nosotros";
@import "./components/page/Contacto";
