@import "utilidades/mixin-extend";
@import "utilidades/colors";
@import "utilidades/typography";

.home-titulo-mobile,
.hero-img-container-mobile, .hero-carusel-container-mobile {
  display: none;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .hero-img-container {
    height: 40em;
    background-color: #8c8c93;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 100px); /* Resta 50px a cada lado */
    padding: 0 50px;

    margin: 0; /* Para centrar el contenedor horizontalmente */

    .hero-titulo {
      text-align: center;

      h1 {
        font-size: 6rem;
        text-align: center;
      }
    }
  }

  .logo-whatsapp-container {
    position: relative;
    top: -100px;
    /* left: 30%; */
    font-size: 50px;
    text-align: right;
    display: flex;
    justify-content: right;
    width: 100%;
    padding-right: 100px;

    .icono-whatsapp {
      cursor: pointer;
    }
  }
}

.nuestros-estampados-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 100px;
  .hexagon {
    $hexagon-width: 15vw; /* 496px en figma */
    $hexagon-height: 8vw; /* 460px en figma */
    display: flex;
    justify-content: center;
    align-items: center;
    width: $hexagon-width;
    height: $hexagon-height;
    background-color: #3498db;
    position: relative;
    border: 1px solid #3498db;

    p{
      font-size: 1.5rem;
    }

    &:before,
    &:after {
      content: "";
      width: 0;
      border-left: $hexagon-width / 2 solid transparent;
      border-right: $hexagon-width / 2 solid transparent;
      position: absolute;
    }

    &:before {
      top: -($hexagon-height / 2);
      border-bottom: $hexagon-height / 2 solid #3498db;
    }

    &:after {
      bottom: -($hexagon-height / 2);
      border-top: $hexagon-height / 2 solid #3498db;
    }
  }
  .info-tienda-hexagonosFila1 {
    display: flex;
    width: 31vw;
    justify-content: space-around;
    margin-top: 4.5vw;
    
  }
  .info-tienda-hexagonosFila2 {
    margin-top: 4.5vw;
    display: flex;
    width: 47vw;
    justify-content: space-around;
  }
}

.personalizar-productos-section {
  .personalizar-productos-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    padding: 50px 9.5vw;
    width: 100%;
    height: fit-content;

    .personalizar-productos-container-img {
      background-color: yellow;
      border: 1px solid black;
      margin: 10px;

      display: grid;
      grid-template-rows: 78% 22%;
      width: 38.89vw;
      height: 36.9vh;
      border: none;

      .personalizar-productos-vacio {
        grid-row: 1;
      }
      button {
        grid-row: 2;
        text-align: left;
        border: none;
        /* padding: 10px;
        background-color: #efb322; */
        font-weight: 600;
        @include propiedades-botones-productos-personalizados(
          $botones-amarillo-dorado,
          0.83% 2.2%,
          $font-size-botones-productos-personalizados,
          $font-family-project
        );
      }
    }
    .indumentaria-escolar {
      grid-column: 1;
      grid-row: 1;
    }
    .indumentaria-deportiva {
      grid-column: 2;
      grid-row: 1;
    }
    .indumentaria-laboral {
      grid-column: 1;

      grid-row: 2;
    }
    .objetos-personalizados {
      grid-column: 2;
      grid-row: 2;
    }
  }
}

.home-titulos {
  h2 {
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 20px 0;
  }
}

.redes-section {
  padding: 50px 0;
  text-transform: uppercase;
  margin-bottom: 6.6vw;
  .iconos-redes-container {
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    margin: auto;
    padding-top: 40px;

    img {
      width: 6.7vw /* 129px en figma */;
      height: 6.7vw /* 129px en figma */;
    }
  }
}

.formulario-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
      margin-top: 10px;
      font-weight: bold;
    }

    input,
    textarea {
      margin-top: 5px;
      padding: 8px;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
      background-color: $inputs-formulario-gris;
      font-family: $font-family-project;

      &::placeholder {
        color: #333; // Tono oscuro para el texto de marcador de posición
      }
    }

    .formulario-boton-container {
      width: 100%;
      display: flex;
      justify-content: right;
      button {
        margin-top: 10px;
        padding: 10px 15px;
        background-color: $negro;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-family: $font-family-rubik;
        transition: background-color 0.3s;
        width: 30vw; /* 592px en figma */
        height: 5.1vw; /* 104px en figma, relacion de aspecto con el width */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        letter-spacing: 2px;
        color: $botones-amarillo-dorado;
        font-weight: 600;
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}

.info-tienda-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;

  .info-tienda-hexagonosFila1 {
    display: flex;
    width: 31vw;
    justify-content: space-around;
    
  }
  .info-tienda-hexagonosFila2 {
    margin-top: 4.5vw;
  }

  .hexagon {
    $hexagon-width: 15vw; /* 496px en figma */
    $hexagon-height: 8vw; /* 460px en figma */
    display: flex;
    justify-content: center;
    align-items: center;
    width: $hexagon-width;
    height: $hexagon-height;
    background-color: #3498db;
    position: relative;
    border: 1px solid #3498db;

    &:before,
    &:after {
      content: "";
      width: 0;
      border-left: $hexagon-width / 2 solid transparent;
      border-right: $hexagon-width / 2 solid transparent;
      position: absolute;
    }

    &:before {
      top: -($hexagon-height / 2);
      border-bottom: $hexagon-height / 2 solid #3498db;
    }

    &:after {
      bottom: -($hexagon-height / 2);
      border-top: $hexagon-height / 2 solid #3498db;
    }
  }
}

@media (max-width: 576px) {
  /* .hero-section .home-titulos:nth-child(1) {
    display: none;
  } */

  .hero-section {
    .home-titulo-mobile {
      display: block;
      text-align: center;
      width: 70%;
      padding: 20px 0;

      h1 {
        font-size: 3rem;
        text-align: center;
        color: black;
        
      }
    }
    .hero-img-container {
      display: none;
    }
    .logo-whatsapp-container {
      display: none;
    }
    
    
  }

  .hero-mobile{
    display: block;
    height: fit-content;
    .hero-carusel-container-mobile{
      display: block;
      height: 10vh;
      max-width: 100%;
      margin: auto;

      img{
        height: 300px;
        text-align: center;
      }
    }
  }
  .nuestros-estampados-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 100px;
    background-color: red;
    .hexagon {
      $hexagon-width: 15vw; /* 496px en figma */
      $hexagon-height: 8vw; /* 460px en figma */
      display: flex;
      justify-content: center;
      align-items: center;
      width: $hexagon-width;
      height: $hexagon-height;
      background-color: #3498db;
      position: relative;
      border: 1px solid #3498db;
      
  
      p{
        font-size: 1.5rem;
      }
  
      &:before,
      &:after {
        content: "";
        width: 0;
        border-left: $hexagon-width / 2 solid transparent;
        border-right: $hexagon-width / 2 solid transparent;
        position: absolute;
      }
  
      &:before {
        top: -($hexagon-height / 2);
        border-bottom: $hexagon-height / 2 solid #3498db;
      }
  
      &:after {
        bottom: -($hexagon-height / 2);
        border-top: $hexagon-height / 2 solid #3498db;
      }
    }
    .info-tienda-hexagonosFila1 {
      display: flex;
      width: 31vw;
      justify-content: space-around;
      margin-top: 4.5vw;
      
    }
    .info-tienda-hexagonosFila2 {
      margin-top: 4.5vw;
      display: flex;
      width: 47vw;
      justify-content: space-around;
    }
  }

  .personalizar-productos-section {
    .personalizar-productos-container {
      display: flex;
      flex-direction: column;
      padding: 10px;
      .personalizar-productos-container-img {
        button {
          text-align: center;
        }
      }
    }
  }

  .home-titulos {
    h2 {
      color: black;
      font-size: 25px;
      text-align: center;
      padding: 20px 0;
    }
  }
}
