.ayuda-section-container {
  width: 90%;
  margin: auto;

  .titulo-container {
    text-align: center;

    h1 {
      color: black;
      padding: 60px 0 40px;
      font-size: 2.5rem;
    }
  }

  .contenido-texto-container {
    h2 {
      color: black;
      font-size: 1.8rem;
      padding: 20px 0;
      font-weight: 600;
      letter-spacing: 1px;

      span {
        color: black;
        font-size: 1.8rem;
        font-weight: normal;
      }
    }
    p {
      color: black;
      font-size: 1.2rem;
      padding: 10px 0;
    }
    ul {
      font-size: 1.2rem;
      li {
        list-style: disc;
      }
    }

    .consultas-adicionales-texto {
      color: black;
      font-size: 1.8rem;
      padding: 10px 0;
    }
  }
}

@media (max-width: 576px) {
  div {
    .titulo-container {
      h1 {
        font-size: 30px;
      }
    }

    .contenido-texto-container {
      h2 {
        font-size: 1.5rem;

        span {
          font-size: 1.5rem;
        }
      }
      p{
        font-size: 1.2rem;
      }
    }
  }
}
